<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Studenten database</title>
    <link rel="stylesheet" href="/static/theme.css">
</head>
<body>
    <h1>Bevraag de studenten database</h1>
    <form method="post">
        <p>
            <label> Username (5 letter code):
                <input type="text" name="username" value="{{ request.form['username'] }}"> <!-- zodat je niet voor elk
                 zoek request opnieuw je gegevens moet invoeren-->
            </label>
            <br>
            <label> Password:
                <input type="password" name="password" value="{{ request.form['password'] }}">
            </label>
        </p>

        <hr>
     <!-- misschien hier één form van maken -->

        <p>
        <label> Search on:
            <input type="text" name="searchword" value="{{ request.form['searchword'] }}">

            <button type="submit">Submit</button>
        </label>
        </p>
        <hr>
    </form>
    <!-- geeft het aantal resultaten weer -->
    <h3>Results: {{ result_number}}</h3>

    <!-- Voor elke rij in de lijst, wordt de data weergegeven -->
    {% if results %}
    {% for row in results %}
            <br>
        {{ "-" * 64 }}
            <br>
        {{ "Message: " + row[0] }}
            <br>
        <b>{{  "By: " + row[3]}}</b> {{ row[1] + " " + row[2] }}
    {% endfor %}
    {% endif %}
    <!-- Wanneer er iets fout gaat, dan wordt er een algemen error gegeven -->
    {% if errors %}
            <h4>{{ errors }}</h4>
    {% endif %}


</body>
</html>